* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  form {
    width: 100%;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-box {
    position: relative;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
  }
  
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .remember-forgot label{
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .remember-forgot input[type="checkbox"] {
    margin-right: 3px; /* Add space between checkbox and text */
  }  
  button {
    width: 100%;
    padding: 10px;
    background-color: transparent; /* Transparent background */
    color: white; /* White text */
    font-size: 16px;
    border: 2px solid white; /* White border */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .register-link {
    margin-top: 20px;
    font-size: 14px;
  }
  